pandas
numpy
ta
MetaTrader5
ipykernel
ta
scikit-learn
matplotlib
backtesting
statsmodels
imbalanced-learn
optuna
xgboost
lightgbm 
imblearn
vectorbt
nbformat
seaborn
matplotlib
ta
joblib
tensorflow 
optuna
